@keyframes expandLoop {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.7);
    }
}


@keyframes skyDrop {
    0% {
        transform: translate(0vh, -100vh);
    }
    15% {
        transform: translate(0vh, -100vh);
    } 
    35% {
        transform: translate(0vh, 0vh);
    }
    51% {
        transform: translate(0vh, -60vh);
    }
    65% {
        transform: translate(0vh, 0vh);
    }
    74% {
        transform: translate(0vh, -36vh);
    }
    81% {
        transform: translate(0vh, -21vh);
    }
    88% {
        transform: translate(0vh, 0vh);
    }
    93% {
        transform: translate(0vh, -3vh);
    }
    95.5% {
        transform: translate(0vh, 0vh);
    }
    100% {
        transform: translate(0vh, 0vh);
    }
}

@keyframes simpleSkyDrop {
    from {
        transform: translate(0vh, -100vh);
    } to {
        transform: translate(0vh, 0vh);
    }
}

@keyframes continuousBounce {
    from {
        transform: translate(0vh, 0vh);
    }
    to {
        transform: translate(0vh, -5vh);
    }
}

@keyframes desvanecer {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes brilloAmarillo {
    from {
        color: white;
    } to {
        color: rgb(255, 255, 100);
    }
}