body {
    display: flex;
    justify-content: center;
    background: url("../visual/background.gif");
    background-size: cover;
    image-rendering: pixelated;
}

pre {
    transform: scale(1);
    /* animation: expandLoop 1s infinite alternate ease-in-out; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    text-shadow: 0.08vh 0.08vh 0px grey, -0.08vh 0.08vh 0px grey, 0.08vh -0.08vh 0px grey, -0.08vh -0.08vh 0px grey;
    font-display: solid;
    font-size: 14vh;
    white-space: pre-line;
    text-align: center;
}

#divButtons {
    top: 35%;
    width: 15vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
}

#singleButton {
    margin-top: 4vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

#primero {
    top: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}

button {
    width: 13vh;
    height: 10vh;
    border: 1vh solid rgb(66, 66, 66);
    font-size: 2vh;
    border-radius: 2vh;
    background-color: grey;
    color: rgb(66, 66, 66);
}

@keyframes expandLoop {
    from {
        transform: scale(1);
    } to {
        transform: scale(1.5);
    }
}

/*
@keyframes skyDrop {
    0% {
        transform: translate(0vh, -100vh);
    }
    15% {
        transform: translate(0vh, -100vh);
    } 
    35% {
        transform: translate(0vh, 0vh);
    }
    51% {
        transform: translate(0vh, -60vh);
    }
    65% {
        transform: translate(0vh, 0vh);
    }
    74% {
        transform: translate(0vh, -36vh);
    }
    81% {
        transform: translate(0vh, -21vh);
    }
    88% {
        transform: translate(0vh, 0vh);
    }
    93% {
        transform: translate(0vh, -3vh);
    }
    95.5% {
        transform: translate(0vh, 0vh);
    }
    100% {
        transform: translate(0vh, 0vh);
    }
}
*/

@keyframes simpleSkyDrop {
    from {
        transform: translate(0vh, -100vh);
    } to {
        transform: translate(0vh, 0vh);
    }
}

@keyframes continuousBounce {
    from {
        transform: translate(0vh, 0vh);
    }
    to {
        transform: translate(0vh, -5vh);
    }
}