* {
    left: 0;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    bottom: 0;
}

body {
    background: url("../visual/background.gif");
    background-size: cover;
    image-rendering: pixelated;
}

#primero {
    top: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}

#titulo {
    transform: scale(1);
    /* animation: expandLoop 1s infinite alternate ease-in-out; */
    font-family: fuenteImpact;
    text-shadow: 0.08vh 0.08vh 0.5vh yellow, -0.08vh 0.08vh 0.5vh yellow, 0.08vh -0.08vh 0.5vh yellow, -0.08vh -0.08vh 0.5vh yellow;
    font-size: 14vh;
    white-space: pre-line;
    text-align: center;
}

#experimental {
    width: 100%;
    display: flex;
    justify-content: center;
}

#divButtons {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#singleButton {
    margin: 1vh;
    margin-top: 4vh;
    margin-bottom: 0vh;
    min-width: 33vh;
    height: 11vh;
    border: 1vh solid rgb(66, 66, 66);
    font-size: 2vh;
    border-radius: 2vh;
    background-color: grey;
    font-family: fuenteConsolasNormal;
    color: rgb(66, 66, 66);
}

#versionText {
    top: auto;
    bottom: 0;
    opacity: 0;
    left: 0;
    font-size: 2vh;
    font-family: fuenteConsolasNormal;
    position: fixed;
}

#caution {
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    backdrop-filter: blur(1.5vh);
    display: flex;
    justify-content: center;
}

#cautionSplash {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#cautionText {
    /* margin-top: 77vh; */
    max-width: 90vh;
    padding: 2vh;
    background-color: rgb(255, 85, 85);
    color: darkred;
    border: 2vh solid darkred;
    box-shadow: 0vh 0vh 1.5vh red;
    border-radius: 2vh;
    font-family: fuenteConsolasNormal;
    font-size: 2.5vh;
}

#cautionOptions {
    width: 100%; 
}

.cautionButton {
    margin-top: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
    width: 25vh;
    height: 13vh;
    border-radius: 3.5vh;
    font-family: fuenteConsolasNormal;
    font-size: 3.4vh;
}

#cautionConfirm {
    background-color: rgb(16, 255, 36);
    color: darkgreen;
    border: 1vh solid darkgreen;
    box-shadow: 0vh 0vh 1.5vh green;
}

#cautionReject {
    background-color: rgb(255, 85, 85);
    color: darkred;
    border: 1vh solid darkred;
    box-shadow: 0vh 0vh 1.5vh red;
}

@font-face {
    font-family: fuenteImpact;
    src: url("../fuenteImpact.ttf");
}

@font-face {
    font-family: fuenteConsolasNormal;
    src: url("../fuenteConsolasNormal.TTF");
}