body {
    display: flex;
    justify-content: center;
    background: url("../visual/background.gif");
    background-size: cover;
    image-rendering: pixelated;
}

#titulo {
    transform: scale(1);
    /* animation: expandLoop 1s infinite alternate ease-in-out; */
    font-family: fuenteImpact;
    text-shadow: 0.08vh 0.08vh 0.5vh yellow, -0.08vh 0.08vh 0.5vh yellow, 0.08vh -0.08vh 0.5vh yellow, -0.08vh -0.08vh 0.5vh yellow;
    font-display: solid;
    font-size: 14vh;
    white-space: pre-line;
    text-align: center;
}

#divButtons {
    top: 35%;
    width: 33vh;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
}

#versionText {
    opacity: 0;
    bottom: 0;
    left: 1%;
    font-size: 2vh;
    font-family: fuenteConsolasNormal;
    position: fixed;
}

#singleButton {
    margin-top: 4vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

#primero {
    top: 0;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
}

#singleButton {
    width: 33vh;
    height: 11vh;
    border: 1vh solid rgb(66, 66, 66);
    font-size: 2vh;
    border-radius: 2vh;
    background-color: grey;
    font-family: fuenteConsolasNormal;
    color: rgb(66, 66, 66);
}

#oldVersionAlertDiv {
    position: fixed;
    z-index: 10;
    top: 20%;
}

#oldVersionAlert {
    top: 100%;
    text-align: center;
    width: 90vh;
    height: 12vh;
    padding: 2vh;
    background-color: rgb(255, 85, 85);
    color: darkred;
    border: 2vh solid darkred;
    border-radius: 2vh;
    font-family: fuenteConsolasNormal;
    font-size: 2.5vh;
}

.oldAlertButton {
    width: 15vh;
    height: 9vh;
    border-radius: 2.5vh;
    font-family: fuenteConsolasNormal;
    margin-left: 18.5vh;
}

#oldVersionAlertConfirm {
    top: 75%;
    text-align: center;
    padding: 2vh;
    background-color: rgb(16, 255, 36);
    color: darkgreen;
    border: 1vh solid darkgreen;
}

#oldVersionAlertReject {
    top: 75%;
    text-align: center;
    background-color: rgb(255, 85, 85);
    color: darkred;
    border: 1vh solid darkred;
}

@font-face {
    font-family: fuenteImpact;
    src: url("../fuenteImpact.ttf");
}

@font-face {
    font-family: fuenteConsolasNormal;
    src: url("../fuenteConsolasNormal.TTF");
}