.confirmButton {
    transform: scale(1);
    animation: transitionOut 0.4s forwards;
}

.mano {
    position: fixed;
    margin-top: 170vh;
    width: 24.5vh;
    transform: scale(0);
    rotate: 180deg;
}

#izquierda {
    margin-right: -70vh;
    transform: scale(1);
    animation: transitionLeftHandOut 0.8s forwards;
}

#derecha {
    margin-left: -70vh;
    transform: scale(1);
    animation: transitionRightHandOut 0.8s forwards;
}

.titulo {
    margin-top: 37.5vh;
    animation: titleOut 0.8s forwards;
    animation-delay: 1s;
}

.cabeza {
    rotate: 360deg;
    animation: dibujoOut 0.8s forwards;
    animation-delay: 1s;
}

.respuesta {
    opacity: 0%;
    animation: animRespuesta 3s forwards;
    animation-delay: 1.5s;
}

@keyframes animRespuesta {
    0% {
        opacity: 0%;
        margin-top: 122.5vh;
    }
    13% {
        opacity: 100%;
        margin-top: 94.5vh;
    }
    20% {
        margin-top: 100vh;
    }
    80% {
        margin-top: 100vh;
    }
    87% {
        opacity: 100%;
        margin-top: 106.5vh;
    }
    99.9999% {
        opacity: 0%;
        margin-top: 75vh;
    }
}

@keyframes transitionOut {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes titleOut {
    0% {
        margin-top: 37.5vh;
    }
    28% {
        margin-top: 42.5vh;
    }
    80% {
        opacity: 0%;
        margin-top: 2.5vh;
    }
    100% {
        opacity: 0%;
        margin-top: 2.5vh;
    }
}

@keyframes dibujoOut {
    0% {
        rotate: 360deg;
        transform: scale(1);
    }
    28.572% {
        rotate: 438deg;
        transform: scale(1.2);
    }
    100% {
        rotate: 0deg;
        transform: scale(0);
    }
}

@keyframes transitionLeftHandOut {
    from {
        margin-right: -70vh;
    } to {
        margin-right: -170vh;
        opacity: 0%;
    }
}

@keyframes transitionRightHandOut {
    from {
        margin-left: -70vh;
    } to {
        margin-left: -170vh;
        opacity: 0%;
    }
}