body {
    background-color: rgb(0, 0, 0);
    animation: switchRedToPurple 0.3s forwards;
}

#confirmDelete, #exitDelete, #deleteWarning {
    transform: scale(1);
    animation: animMenuOut 0.2s forwards;
}

@keyframes switchRedToPurple {
    from {
        background-color: rgb(0, 0, 0);
    } to {
        background-color: rgb(76, 24, 125);
    }
}