body {
    background-color: rgb(76, 24, 125);
    animation: switchColorToYellow 0.3s forwards;
}

.menuButton {
    animation: animMenuOut 0.2s forwards;
}

#statsMessage, #closeStats {
    position: fixed;
    transform: scale(0);
    animation: animMenuIn 0.2s forwards;
}

@keyframes switchColorToYellow {
    from {
        background-color: rgb(76, 24, 125);
    } to {
        background-color: rgb(255, 255, 66);
    }
}