#statsMessage, #closeStats {
    transform: scale(1);
    animation: animMenuOut 0.2s forwards;
}

body {
    background-color: rgb(255, 255, 66);
    animation: switchYellowToPurple 0.3s forwards;
}

@keyframes switchYellowToPurple {
    from {
        background-color: rgb(255, 255, 66);
    } to {
        background-color: rgb(76, 24, 125);
    }
}