body {
    background-color: rgb(76, 24, 125);
    animation: switchColorToGreen 0.3s forwards;
}

#wordPrompt, #wordPromptConfirm {
    margin-top: 135vh;
    width: 120vh;
    height: 10vh;
    border: 2vh solid rgb(17, 28, 28);
    background-color: grey;
    color: rgb(17, 28, 28);
    animation: animMenuIn 0.2s forwards;
    font-size: 4.5vh;
    font-family: miFuente;
}

#wordPromptText{
    transform: scale(0);
    margin-top: 55vh;
    color: rgb(17, 28, 28);
    animation: animMenuIn 0.2s forwards;
}

#wordPromptConfirm {
    margin-top: 170vh;
}


@keyframes switchColorToGreen {
    from {
        background-color: rgb(76, 24, 125);
    } to {
        background-color: rgb(0, 189, 0);
    }
}