.menuButton {
    transform: scale(1);
    animation: animMenuOut 0.2s forwards;
}


@keyframes animMenuOut {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0);
    }
}